.edit .controller.ds4 {
    background: url(https://vizedot.github.io/tora-overlay/gamepad.png);
}


.controller.edit {
    background: url(https://vizedot.github.io/tora-overlay/gamepad.png);
}


.edit .face .ds4 {
    background: url(https://vizedot.github.io/tora-overlay/skins/dpad-custom.png);
}


.edit .face {
    position: absolute;
    background: url(https://vizedot.github.io/tora-overlay/skins/dpad-custom.png);
}


.edit .stick .ds4 {
    background: url(https://vizedot.github.io/tora-overlay/skins/sticks-custom.png);
}


.edit .stick {
    position: absolute;
    background: url(https://vizedot.github.io/tora-overlay/skins/sticks-custom.png);
}

.ds4.button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://vizedot.github.io/tora-overlay/skins/face-custom.png);
}

.ds4.disconnected {
    background: url(ps4-assets/disconnected.svgz);
}

.ds4 .a {
    background-position: 0 0;
    bottom: 0;
    left: 58px;
}

.ds4 .b {
    background-position: -57px 0;
    top: 58px;
    right: 0px;
}

.ds4 .x {
    background-position: -113px 0;
    top: 58px;
}

.ds4 .y {
    background-position: 55px 0;
    left: 58px;
}

.ds4 .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

